body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    flex-direction: column;
    border: 2px solid orange;
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding-top: 4%;
}

.container>input {
    margin: 20px;
}

.container>div {
    margin: 20px;
}

#count,
#name {
    width: fit-content;
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#word {
    font-size: 100px;
}

#info,
#wordContainer {
    visibility: hidden;
}

#insertNameContainer {
    border: 2px solid red;
    background-color: white;
    position: absolute;
    padding: 20px;
    height: 50px;
    width: 400px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#navbar {
    padding: 20px;
    margin: 0px;
    width: fit-content;
}

#navbar>h1 {
    font-size: 50px;
    width: fit-content;
}