body {
    margin: 0px;
    padding: 0px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#title {
    position: absolute;
}


#navbar {
    margin: 0px;
    width: fit-content;
}

#navbar>h1 {
    padding: 20px;
    font-size: 50px;
    width: fit-content;
}

#startGame {
    font-size: 30px;
    font-family: "Archivo Black", sans-serif;
    background-color: white;
    font-weight: 400;
    font-style: normal;
    border: none;
    transition: .3s;
}

#startGame:hover {
    padding-bottom: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}



#leaderboardsBtn {
    position: absolute;
    top: 200px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    padding-left: 0px;
    transition: .2s;
}

#leaderboardsBtn:hover {
    color: white;
    background-color: black;
    transition: .4s;
    padding-left: 50px;
    cursor: pointer;
}

#leaderboardsBtn:active {
    color: black;
    background-color: white;
    transition: .1s;
}

#leaderboardContainer {
    background-color: black;
    color: white;
    position: absolute;
    padding: 20px;
    width: 300px;
    height: fit-content;
    top: 300px;
    left: -100%;
    transition: 1s;
}

#leaderboardContainer>h1 {
    font-weight: normal;
    font-size: 22px;
    transition: .5s;
}

#leaderboardContainer>h1:hover {
    font-weight: normal;
    color: black;
    background-color: white;
    font-size: 22px;
}

body {
    counter-reset: section;
}

#leaderboardContainer>h1::before {
    counter-increment: section;
    content: counter(section) ". ";
}

#leaderboardContainer>h1:nth-child(1) {
    color: rgb(245, 174, 44);
}


#leaderboardContainer>h1:nth-child(2) {
    color: rgb(179, 179, 179);
}

#leaderboardContainer>h1:nth-child(3) {
    color: rgb(104, 69, 4);
}

#leaderboardContainer>h1:nth-child(1):hover,
#leaderboardContainer>h1:nth-child(2):hover,
#leaderboardContainer>h1:nth-child(3):hover {
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    flex-direction: column;
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding-top: 4%;
}

.container>input {
    margin: 20px;
}

.container>div {
    margin: 20px;
}

#count,
#name {
    width: fit-content;
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#word {
    font-size: 100px;
}

#info,
#wordContainer {
    visibility: hidden;
}

#allContainer {
    padding-top: 10%;

}

#insertNameContainer {
    background-color: black;
    color: white;
    font-size: 30px;
    position: absolute;
    padding: 20px;
    height: fit-content;
    width: 400px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#nameInput {
    font-size: 20px;
    color: black;
    transition: .2s linear;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#nameInput:focus {
    font-size: 25px;
    background-color: black;
    color: white;
}

#saveName {
    background: none;
    color: white;
    font-size: 20px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 5px;
    transition: .5s;
}

#saveName:hover {
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 23px;
}